@import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Barlow+Condensed:wght@400;600&family=Barlow:wght@400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-image: url('starter-code/assets/home/background-home-desktop.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.menu-icon {
  cursor: pointer;
  display: none;
}

/* HOME PAGE  */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3rem;
}

.logos {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.img2 img {
  height: 1px;
  width: 500px;
  opacity: 0.3;
}

.navlinks {
  display: flex;
  gap: 2.5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem 4rem;
}

.navlinks a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 14px;
  letter-spacing: 2px;
  position: relative;
}

.navlinks a:hover,
.navlinks a:focus,
.navlinks a.active {
  border-bottom: 2px solid white;
}

.main-cont {
  margin: 25px;
  padding: 0;
}

.inner-cont {
  margin: 8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
}

.text-cont {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-right: 6rem;
  justify-content: center;
  width: 35%;
}

.txt2 {
  font-family: 'Bellefair', sans-serif;
  font-size: 6rem;
  color: white;
}

.txt3 {
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

.btn-exp {
  width: 247px;
  height: 247px;
}

.explore-btn {
  background-color: white;
  color: black;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 20px;
  border: none;
  border-radius: 50%;
  width: 196px;
  height: 189px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  cursor: pointer;
  transition: all 0.4s ease;
}

.explore-btn:hover {
  box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
  transform: scale(1.05);
}

/* DESTINATION PAGE  */

body.destination-page {
  background-image: url('starter-code/assets/destination/background-destination-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.divider-line {
  position: relative;
  left: 10rem;
  z-index: 1;
}

.destination-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 80px 100px;
  gap: 80px;
}

/* Left section */
.destination-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.page-title {
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 3px;
  font-size: 18px;
  margin-bottom: 50px;
  margin-left: 10rem;
  text-transform: uppercase;
}

.page-title span {
  color: gray;
  margin-right: 10px;
}

.moon-img {
  width: 350px;
  height: 350px;
}

/* Right section */
.destination-right {
  max-width: 500px;
}

.dest-links {
  display: flex;
  gap: 30px;
  margin-bottom: 30px;
}

.dest-links a {
  text-decoration: none;
  color: #d0d6f9;
  font-family: 'Barlow Condensed', sans-serif;
  letter-spacing: 2px;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 8px;
  transition: all 1s ease;
}

.dest-links a.active,
.dest-links a:hover {
  color: white;
  border-bottom: 2px solid white;
}

.planet-name {
  font-family: 'Bellefair', serif;
  font-size: 100px;
  margin: 20px 0;
}

.planet-desc {
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  color: #d0d6f9;
  font-size: 16px;
  margin-bottom: 40px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
  margin-bottom: 30px;
}

.distance-info {
  display: flex;
  gap: 5rem;
}

.distance-info h4 {
  font-family: 'Barlow Condensed', sans-serif;
  color: #d0d6f9;
  letter-spacing: 2px;
  font-size: 14px;
  margin-bottom: 10px;
}

.distance-info h3 {
  font-family: 'Bellefair', serif;
  font-size: 28px;
}

/* CREW PAGE  */

body.crew-page {
  background-image: url('starter-code/assets/crew/background-crew-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.crew-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 80px 100px;
  gap: 80px;
}

.crew-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 2.5rem;
}

.crew-right img {
  width: 539.28px;
  height: 676px;
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

.crew-left-top {
  width: 539px;
  height: 631px;
  padding-top: 12rem;
}

.crew-title {
  font-family: 'Bellefair', serif;
  font-size: 2rem;
  opacity: 50.48%;
}

.crew-name {
  font-family: 'Bellefair', serif;
  font-size: 3.5rem;
  margin: 20px 0;
}

.crew-desc {
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  color: #d0d6f9;
  font-size: 18px;
  margin-bottom: 40px;
}

.crew-left-bottom {
  display: flex;
  gap: 2rem;
  flex-direction: row;
}

.scroll-btn1,
.scroll-btn2,
.scroll-btn3,
.scroll-btn4 {
  background-color: grey;
  border: none;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  cursor: pointer;
  transition: all 0.4s ease;
}

.scroll-btn1:hover,
.scroll-btn2:hover,
.scroll-btn3:hover,
.scroll-btn4:hover,
.scroll-btn1.active,
.scroll-btn2.active,
.scroll-btn3.active,
.scroll-btn4.active,
.scroll-btn1.focus,
.scroll-btn2.focus,
.scroll-btn3.focus,
.scroll-btn4.focus {
  background-color: white;
}

/* TECHNOLOGY PAGE  */

body.technology-page {
  background-image: url('starter-code/assets/technology/background-technology-desktop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.technology-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
  padding: 80px 0 80px 100px;
  gap: 2px;
}

.technology-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
  gap: 2.5rem;
}

.technology-btns {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.technology-btn1,
.technology-btn2,
.technology-btn3 {
  color: white;
  font-family: 'Bellefair', serif;
  font-size: 32px;
  border: 1px solid #d0d6f9;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.4s ease;
}

.technology-btn1:hover,
.technology-btn2:hover,
.technology-btn3:hover,
.technology-btn1.active,
.technology-btn2.active,
.technology-btn3.active,
.technology-btn1.focus,
.technology-btn2.focus,
.technology-btn3.focus {
  background-color: #ffffff;
  color: black;
}

.technology-right img {
  width: 539.28px;
  height: 676px;
}
.capsule-image,
.launch-vehicle-image,
.spaceport-image {
  display: none;
}

.technology-left-top {
  padding-top: 2rem;
}

.technology-title {
  font-family: 'Bellefair', serif;
  font-size: 2.5rem;
  opacity: 50.48%;
}

.technology-name {
  font-family: 'Bellefair', serif;
  font-size: 5rem;
  margin: 20px 0;
}

.technology-desc {
  font-family: 'Barlow', sans-serif;
  line-height: 1.6;
  color: #d0d6f9;
  font-size: 20px;
  margin-bottom: 40px;
}

/* MEDIA QUERIES  */

@media (max-width: 1200px) {
  body {
    background-image: url('starter-code/assets/home/background-home-tablet.jpg');
  }
  body.technology-page {
    background-image: url('starter-code/assets/technology/background-technology-tablet.jpg');
  }

  .inner-cont {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .menu-icon {
    display: none;
  }

  .img2 img {
    display: none;
  }

  .divider-line {
    display: none;
  }

  .text-cont {
    width: 100%;
    margin: 0;
  }

  body.destination-page {
    background-image: url('starter-code/assets/destination/background-destination-tablet.jpg');
  }

  .page-title {
    margin-left: 3rem;
  }

  .crew-name,
  .technology-name {
    font-size: 3rem;
  }
  .crew-title,
  .technology-title {
    font-size: 2rem;
  }

  .dest-links,
  .distance-info,
  .planet-name,
  .crew-name,
  .technology-name,
  .technology-desc,
  .crew-desc,
  .planet-desc {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .planet-name {
    font-size: 3rem;
  }

  .planet-desc {
    font-size: 1.2rem;
  }

  body.crew-page {
    background-image: url('starter-code/assets/crew/background-crew-tablet.jpg');
  }

  .crew-left,
  .crew-main {
    gap: 0;
  }

  .crew-right img {
    width: 400px;
    height: auto;
  }

  .crew-left-top {
    width: 100%;
    height: auto;
    padding-top: 0;
  }

  .destination-main,
  .crew-main {
    flex-direction: column;
    padding: 40px;
  }

  .capsule-image,
  .launch-vehicle-image,
  .spaceport-image {
    display: block;
  }
  .capsule-img,
  .launch-vehicle-img,
  .spaceport-img {
    display: none;
  }

  .technology-right img {
    width: 100vw;
    height: auto;
  }

  .destination-left img {
    width: 250px;
    height: auto;
  }

  .technology-btns {
    flex-direction: row;
    margin-top: 2rem;
    gap: 1rem;
  }

  .technology-main {
    flex-direction: column-reverse;
    padding: 40px;
  }

  .destination-left,
  .crew-left {
    align-items: center;
    text-align: center;
  }

  .technology-left {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .destination-right,
  .crew-right {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 425px) {
  body {
    background-image: url('starter-code/assets/home/background-home-mobile.jpg');
  }
  body.destination-page {
    background-image: url('starter-code/assets/destination/background-destination-mobile.jpg');
  }
  body.crew-page {
    background-image: url('starter-code/assets/crew/background-crew-mobile.jpg');
  }
  body.technology-page {
    background-image: url('starter-code/assets/technology/background-technology-mobile.jpg');
  }
  .inner-cont {
    margin: 0;
  }

  .img2 img {
    display: none;
  }

  /* ===== MOBILE NAVIGATION ===== */
  .navlinks {
    position: fixed;
    top: 0;
    right: 0; /* start at right */
    width: 65%;
    height: 100%;
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    transform: translateX(100%); /* hidden off the right */
    transition: transform 0.4s ease-in-out;
    z-index: 999;
  }

  .navlinks.active {
    transform: translateX(0);
  }

  .navlinks a {
    color: white;
    font-size: 1.1rem;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0;
    transform: translateX(-20px);
    animation: slideIn 0.4s forwards;
  }

  .navlinks a:hover,
  .navlinks a:focus,
  .navlinks a.active {
    border-bottom: none;
    border-right: 2px solid white;
  }

  /* Staggered animation */
  .navlinks a:nth-child(1) {
    animation-delay: 0.1s;
  }
  .navlinks a:nth-child(2) {
    animation-delay: 0.2s;
  }
  .navlinks a:nth-child(3) {
    animation-delay: 0.3s;
  }
  .navlinks a:nth-child(4) {
    animation-delay: 0.4s;
  }

  /* Keyframes for links */
  @keyframes slideIn {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* ===== OVERLAY ===== */
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 900;
  }

  .overlay.active {
    opacity: 1;
    visibility: visible;
  }

  /* Show hamburger only on mobile */
  .menu-icon {
    display: block;
    z-index: 1100;
  }
  .distance-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    text-align: center;
  }

  .destination-left img {
    width: 150px;
    height: 150px;
  }

  .crew-right img {
    width: 250px;
    height: auto;
  }

  .technology-right img {
    width: 100vw;
    height: auto;
  }

  .technology-btns {
    margin-top: 2rem;
  }
  .crew-name,
  .technology-name {
    font-size: 2rem;
  }
  .crew-title,
  .technology-title {
    font-size: 1.4rem;
  }
}
